.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1297db;
  font-family: Lato, serif;
  font-size: 12px;
  justify-content: center;
}

.row {
  display: flex;
  text-align: center;
  color: white;
  padding: 27px 446px;
  align-items: center;
  justify-content: center;
}

.column-full {
  display: flex;
  width: 100%;
  font-size: 25px;
  align-items: center;
}

.column-one-third {
  display: flex;
  flex-direction: column;
  width: calc(200% / 3);
  align-items: center;
}

img {
  display: flex;
  flex-basis: auto;
  width: 100%;
}

.border {
  background-color: white;
  border-radius: 50%;
  width: calc(100% / 3);
  padding: 21px;
}

.head {
  justify-content: center;
  font-style: normal;
  font-weight: lighter;
}

p {
  font-size: 16px;
}
